.button {
  padding: 0.7rem 1rem;
  margin: 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  transition: 0.5s all ease-in-out;
  background: $primary;
  border: none;
  font-size: 0.8rem;
  color: white;

  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }

  &:hover {
    background: $secondary;
  }
}
