//LANDING PAGE INTRO SECTION
.intro-name {
  //font-weight: bold;
}
.intro-desc {
  //padding: 1rem 0;
}

//INTRO TEXT
.text {
  font-style: italic;
  color: white;
  padding: 5% 12%;

  @include media-breakpoint-up(lg) {
    font-size: 1.2rem;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 1.3rem;
  }
}

//LANDING PAGE OFFER
.basic-text {
  text-align: justify;
  font-size: 0.8rem;

  @include media-breakpoint-up(xxl) {
    font-size: 1rem;
  }
}

//FOOTER
.footer-text {
  font-size: 0.6rem;

  @include media-breakpoint-up(md) {
    font-size: 0.7rem;
  }
}




