//LANDING PAGE HEAD SECTION
.head-name {
  font-weight: 400;
}
.head-desc {
  padding-bottom: 0.1rem;

  &:last-of-type {
    padding-bottom: 1rem;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 0.7rem;
  }
}

//INTRO TEXT
.introText {
  font-style: italic;
  color: white;
  padding: 1rem 2.5rem;
  margin-bottom: 0;
  text-align: center;

  @include media-breakpoint-up(lg) {
    padding: 2rem 0;
    font-size: 1.2rem;
  }
  @include media-breakpoint-up(xxl) {
    padding: 3rem 0;
    font-size: 1.3rem;
  }
}

.introHeader {
  text-align: center;
  color: white;
  margin: 0 !important;
  padding-top: 1rem;

  @include media-breakpoint-up(lg) {
    padding-top: 2rem;
  }
}

//HEADER

.header {
  font-weight: bold;
  margin: 1rem 0;
}

//BASIC TEXT
.basic-text {
  text-align: justify;
  font-size: 0.8rem;

  @include media-breakpoint-up(lg) {
    font-size: 1rem;
  }
}

//FOOTER
.footer-text {
  font-size: 0.6rem;

  @include media-breakpoint-up(md) {
    font-size: 0.8rem;
  }
}

//FORM:

.form-check-label {
  font-size: 0.7rem;
}




