.accordion {
  margin: 0;

  @include media-breakpoint-up(md) {
    margin: 2.5rem 0;
    padding: 0 2.5rem;
  }
}

.accordion-button {

  &:not(.collapsed) {
    background: rgba($secondary, 0.75);
    color: white;

    &::after {
      filter: brightness(0%) invert(100%);
    }
  }

  &:focus {
    box-shadow: none;
  }
}


