.form-control {
  background-color: $lightgrey;
  border-radius: 0;
  border: none;

  &:focus {
    background-color: rgba($secondary, 0.45);
    box-shadow: none;
    border: none;
  }
}

.form-check-input {
  background-color: $lightgrey;
  border-radius: 0;
  cursor: pointer;

  &:focus {
    background-color: rgba($secondary, 0.45);
    box-shadow: none;
    border: none;
  }
}

input[type="checkbox"]:checked {
  background: rgba($secondary, 0.45);
  border: none;
}