.form-control {
  background-color: $lightgrey;
  border-radius: 0;
  border: none;
  font-size: 0.875rem;

  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }

  &:focus {
    background-color: rgba($secondary, 0.45);
    box-shadow: none;
    border: none;
  }
}

.form-check-input {
  background-color: $lightgrey;
  border-radius: 0;
  cursor: pointer;
  height: 1rem;
  width: 1rem;

  &:focus {
    box-shadow: none;
  }
}

input[type="checkbox"]:checked {
  background: rgba($secondary, 0.45);
  border: none;
}

.form-check-label {
  font-size: 0.7rem;

  @include media-breakpoint-up(sm) {
    font-size: 0.8rem;
  }
}

.error-text {
  color: $red-400;
  font-size: 0.8rem;

  @include media-breakpoint-up(sm) {
    font-weight: bold;
  }
}