.footer {
  background-color: $primary;
}

.contactIcon {
  display: inline;
  color: white;
  height: 0.875rem;
  margin-right: 0.4rem;

  @include media-breakpoint-up(xl) {
    height: 2rem;
    margin-right: 0.6rem;
  }
}
