.footer {
  background-color: $primary;
}

.contactIcon {
  display: inline;
  color: white;
  height: 0.875rem;
  margin-right: 0.4rem;

  @include media-breakpoint-up(xl) {
    height: 2rem;
    margin-right: 0.6rem;
  }
}

.footer-text {
  font-size: 0.875rem;
  color: white;
  display: inline;
  margin: 0;

  @include media-breakpoint-up(md) {
    font-size: 1rem;
  }
}
