.landing-aboutMe {
  background-color: $lightgrey;

  &-row {
    padding: 6% 2.5rem;
  }

  &-img {
    width: 70%;
  }

  &-textContainer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    @include media-breakpoint-up(md) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}



