.col-offer {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.img-offer {
  width: 45px;
  height: 45px;

  @include media-breakpoint-up(xxl) {
    width: 58px;
    height: 58px;
  }
}

.img-background {
  background-color: $lightgold;
  border-radius: 50%;
  height: 70px;
  width: 70px;

  @include media-breakpoint-up(xxl) {
    height: 92px;
    width: 92px;
  }
}

.offer-link {
  text-decoration: none;
}

.offer-card {
  box-shadow: $shadow;
  //transition: $shadowTransition;

  &:hover {
    //@include shadowTransition;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }
}
