.intro-section {
  background-image: url("../../assets/photoBig.png");
  background-position: left;
  height: 70vh;
}

//.img-intro {
//  @include media-breakpoint-up(md) {
//    width: 150%;
//  }
//}

