.img-hero {
  max-width: 35%;

  @include media-breakpoint-up(sm) {
    max-width: 70%;
  }
  @include media-breakpoint-up(md) {
    max-width: 60%;
  }
  @include media-breakpoint-up(lg) {
    max-width: 60%;
  }
  @include media-breakpoint-up(xxl) {
    max-width: 45%;
  }
}

.hero-imgBox {
  @include media-breakpoint-up(xl) {
    padding-left: 4.5rem;
  }
  @include media-breakpoint-up(xxl) {
    padding-left: 5.5rem;
  }
}
