.img-hero {
  max-width: 35%;

  @include media-breakpoint-up(sm) {
    max-width: 70%;
  }
  @include media-breakpoint-up(md) {
    max-width: 60%;
  }
  @include media-breakpoint-up(lg) {
    max-width: 60%;
  }
  @include media-breakpoint-up(xxl) {
    max-width: 45%;
  }
}
