//@use "../custom";
//@use "../components/mixins as *

.menu {

  li {
    padding: 0 1.2rem;

    a {
      color: $black;
      &:hover {
        color: $secondary;
        text-decoration: underline;
      }
    }
  }
}

.menu-btn {
  border: none;
}

