.logo {
  width: 4rem;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    width: 5rem;
  }

}

.menu {
  li {
    padding: 0 0.4rem;

    @include media-breakpoint-up(lg) {
      padding: 0 1.2rem;
    }

    a {
      color: $black;
      transition: 0.5s all ease-in-out;
      letter-spacing: .05rem;
      position: relative;
      will-change: transform;

      &:before {
        content: "";
        border-bottom: 0.1rem solid $black;
        display: block;
        position: absolute;
        background: transparent;
        top: 0;
        bottom: 0;
        left: 100%;
        right: 100%;
        transition: 0.5s all ease-in-out;
      }
      &:hover {
       color: $secondary;
      }
      &:hover:before {
        @include media-breakpoint-up(lg) {
          left: 0;
          right: 0;
          border-bottom: 0.1rem solid $secondary;
        }
      }
    }
  }
}

.navbar-toggler {
  border: none;
  color: transparent;
  width: 1.5rem;
  height: 0.5rem;
  position: relative;
  transition: 0.5s ease-in-out;

  span {
    margin: 0;
    padding: 0;
  }
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: $black;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.15s ease-in-out;
}

.middle-bar {
  margin-top: 0;
}

//when navigation clicked

.navbar-toggler .top-bar {
  margin-top: 0;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  display: none;
}

.navbar-toggler .bottom-bar {
  margin-top: 0;
  transform: rotate(-135deg);
}

//when navigation is collapsed

.navbar-toggler.collapsed .top-bar {
  margin-top: -1.2rem;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  display: block;
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 1.2rem;
  transform: rotate(0deg);
}

