$gold: #d7ae1f;
$blue: #316785;
$lightgrey: #f8f9fa;

$primary: $blue;
$secondary: $gold;

$shadow: 0 10px 12px rgba(0, 0, 0, 0.08), 0 0 10px rgba(0, 0, 0, 0.05);
$shadowHover: 0 20px 20px rgba(0, 0, 0, 0.12), 0 10px 15px rgba(0, 0, 0, 0.06);

$thumbnail-padding: 0.5rem;
$thumbnail-border-radius: 0;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
