@import "custom";
@import "elements/_navbar";
@import "elements/landingPageHero";
@import "elements/_landingPageOffer";
@import "elements/_landingPageAboutMe";
@import "elements/_aboutMediation";
@import "elements/contactForm";
@import "elements/_footer";
@import "components/_typography";
@import "components/_buttons";
@import "components/_positioning";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding: 0;
}

.content-container {
  height: calc(100vh - 56px);
}

a {
  color: black;
  transition: 0.5s all ease-in-out;
  will-change: transform;
  text-decoration: none;

  &:hover {
    color: $secondary;
  }
}
